@{ 
    String user = Request.QueryString["user"];
    ViewBag.User = user;
}
<div class="jumbotron">
    <h1> Filmes em Catálogo</h1>
    <!--
    <div class="pos-f-t" id="buscar">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4">
                <h2>Filtrar Busca de Filmes</h2>
                <div class="mb-3">
                    <label>Nome do filme</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-film"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Filme">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Nome do diretor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Diretor">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Nome do ator</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ator">
                    </div>
                </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Duração</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-clock-o"></i> </span>
                                </div>
                                <input class="form-control bg-light" placeholder="Tempo em minutos"
                                       type="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="country">Gênero</label>
                            <select class="form-control">
                                <option value="">Selecine o Gênero...</option>
                                <option>Drama</option>
                                <option>Ação</option>
                                <option>Suspense</option>
                                <option>Comédia</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Ano de lançamento</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-calendar-o"></i> </span>
                                </div>
                                <input class="form-control bg-light" placeholder="Entre com o ano" type="text">
                            </div>
                        </div>
                    </div>

                <hr class="mb-4">

                <div class="row mt-4">
                    <div class="col-3">
                        <div class="form-group" id="butao">
                            <button href="/login.html" type="button" class="btn btn-primary btn-md btn-block">
                                <i class="fas fa-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-secondary ">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
        -->
    <!---------------------------------------------------------  Cards  ----------------------------------------------------->
    <div class="container" id="estante">
        <div class="row library">

            <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
            @{

                Manipulacao dados = new Manipulacao();
                dados.Busca_Home();

                for (int i = 0; i < dados.cont_Rows; i++) {

                    ViewBag.Cod = dados.dados_CodFilme[i];
                    ViewBag.Nome = dados.dados_NomeFilme[i];
                    
                    <div class="col-xs-4 col-md-2">
                        <h3> <a href="Info_FIlme?user=@ViewBag.User&id=@ViewBag.Cod"> @ViewBag.Nome </a> </h3>
                    </div>

                }
            }
        </div>
    </div>
</div>